<p-iconField class="p-field" iconPosition="left">
    <div class="p-mr-2 p-input">    
        
    <p-autoComplete
        #ac
        [placeholder]="placeholder"
        [suggestions]="suggestions!" 
        (completeMethod)="search($event)" 
        (onSelect)="onSelect($event)"
        [multiple]="true">
        <ng-template let-item pTemplate="item">
            <div class="flex align-items-center">
                <img [src]="item?.photo" [class]="'mr-2'" style="width: 20px" />
                <span>{{ item.Name }}</span>
            </div>
        </ng-template>
    </p-autoComplete>