<div class="flex flex-column gap-2">
    <label [for]="ctrlLabel">{{ctrlLabel}} {{formCtrl.errors?.['required'] ? '*' : ''}} </label>
    <p-password [formControl]="formCtrl" [id]="formCtrlId" [toggleMask]="true"
                inputStyleClass="w-full text-base" styleClass="w-full text-base"
                [placeholder]="ctrlPlaceholder"></p-password>

    <sf-error-required [formCtrl]="formCtrl"></sf-error-required>
    <sf-password-match [formCtrl]="formCtrl"></sf-password-match>
    <sf-min-length [formCtrl]="formCtrl" [minDigits]="minDigits"></sf-min-length>
</div>
