#picture {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  transform: scaleX(-1);
}

.content-wrapper {
  width: 100%;
  max-width: 520px;
  border: 1px solid lightgray;
  border-radius: 35px;
  background-image:'';
  padding: 60px;
  background: white;
}

.h-screen {
  background-image: url('../../../assets/images/login/login-background1.jpg');
  background-size: cover;
  background-position: center;
}

.guest-text{
  cursor: pointer;
  color: rgb(252, 212, 139);
}

:host::ng-deep{
  .login-button{
    button{
      width: 100%;;
      background-color: pink;
      border: 0px;
    }
  }
}

